@media (max-width:1199px) {
	.header .col-logo{order: 1;}
	.header .col-menu{order: 3;}
	.header .col-right{order: 2;}
	.header__nav{padding-top: 40px;}
	.promo{background-size: cover;}
	.promo__list{top: 50px;}
	.table-elements{padding-top: 56px;}
	.table-elements__top{top: 30px; left: 136px;}
	.footer__address{padding-left: 36px; position: relative;}
	.footer__address svg{position: absolute; top: 0; left: 0; width: 24px; height: 24px;}
	.footer__top .row{align-items: flex-start;}
	/* .offer-card__inner{padding-bottom: 50px;}
	.offer-card__more{top: auto; bottom: 30px;} */
	.offer-card__top{margin-right: 170px;}
	.offer-card__more{padding: 10px 26px;}
	.pictogram-card .pictogram-card__columns{display: block;}
	.pictogram-card__column{max-width: 100%;}
	.basket__place--l { max-width:240px }
	.product-item__preview { max-width: 385px; }
}


@media (max-width:991px) {
	.header{padding-top: 30px; padding-bottom: 30px;}
	.product-list{display: block;}
	.product-table{display: none;}
	.promo__subtitle{font-size: 26px;}
	.promo__list{top: 0; padding-bottom: 40px;}
	.promo__icon{width: 100%;}
	.table-elements__top{top: 0; left: 0; margin-bottom: 40px;}
	.product-list__item{display: block; color: #000}
	.about{background-size:cover;}
	.footer__phone a{font-size: 24px;}
	.footer .col-logo{order: 2;}
	.footer .col-menu{order: 1;}
	.footer .col-social{order: 3;}
	.footer__nav{margin-bottom: 40px;}
	.catalog__list .catalog__item{max-width: 50%;}
	.common__filter-btn{display: inline-block;}
	.page-content-grid{display: flex; flex-direction: column-reverse;}
	.fix__nav{display: block; position: static; margin-bottom: 20px;}
	.contacts__place{margin-bottom: 20px;}
	.question-form .form-input{margin-bottom: 20px;}
	.personal-card__details{display: block;}
	.personal-card__part{margin-bottom: 12px;}

	.product-item__column--mobile { position:absolute; top: 0; right: 0; max-width: 24px; padding: 0; margin: 0 }
	.basket__place--l { max-width:100% }
	.basket__place--m { max-width:100% }
	.basket__product { padding-bottom:16px; margin-bottom: 16px }
	.basket__place { max-width: 100%; margin-right: 0; margin-bottom: 16px; }
	.basket__places{flex-direction: column;}
	.product-item__inner{flex-wrap: wrap;}
	.product-item__title{margin-bottom: 8px;}
	.product-item__preview{max-width: 100%;}
	.product-item__column--mobile{top: 7px; right: 10px;}
	.product-item__inner{padding: 5px;}
	.product-item__column--l{max-width: 150px;}
	.product-item__column--m{max-width: 150px;}
	.card-details__property, .card-details__item{width: 100%;}
	.history-item__top { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; -webkit-box-align: start; -webkit-align-items: start; align-items: start; padding: 20px 0 0; }
	.history-item__text--width { max-width: 100%; padding-right: 0; }
	.history-item__line{flex-direction: column;}
}



@media (max-width:767px) {
	.header__lang{display: none;}
	.header .auth{display: none;}
	.header .login__link{display: none;}
	.header__burger{display: block;}
	.header .col-menu{display: none;}
	.mobile-modal__inner { max-width: 288px; }
	.header__nav{display: none;}
	.btn.auth{font-size: 16px;}
	.promo__title{font-size: 42px;}
	.table-elements__title{font-size: 42px;}
	.title{font-size: 42px;}
	.contacts-title{font-size: 42px;}
	.promo{padding-top: 150px;}
	.promo__list .row{justify-content: center;}
	.promo__block{margin-bottom: 40px;}
	.promo__list{padding-bottom: 0;}
	.about__images .row{justify-content: center;}
	.about__images img{margin-bottom: 20px;} 
	.footer__phone{text-align: center; margin-bottom: 20px;}
	.footer__address{text-align: center; margin-bottom: 20px;}
	.footer__address svg{position: static;}
	.footer__email{text-align: center;}
	.footer__nav{display: none;}
	.cookies__text{margin-bottom: 20px;}
	.catalog__list .catalog__item{max-width: 100%; margin-bottom:100px}
	.catalog-info{height: 134px;}
	.offer-card__details{display: block;}
	.offer-card__name.title{font-size: 24px;}
	.offer-card__top{margin-right: 0;}
	.offer-card__img{max-width: 150px;}
	.offer-card__more{position: static;}
	.offer-card__detail, .offer-card__detail:first-child, .offer-card__detail:nth-child(3){width: 100%;}
	.block-decor{background-size: contain!important; padding-top: 114px;}
	.top-bg .breadcrumbs{top: 60px;}
	.personal-card__top{flex-direction: column-reverse;}
	.admin-links{margin-bottom: 15px;}
	.product-item__column--xl { max-width:100%; padding: 20px 0 0 } 
	.product-item__column--m{max-width: 140px;}
	.product-item__column--l { max-width: 140px; }
	.additionally-list__item{min-width: auto; width: 50%;}
	

}



@media (max-width:575px) {
	html, body{font-size: 14px;}
	.container{padding-left: 20px; padding-right: 20px;}
	.promo{padding-top: 130px;}
	.promo__title{font-size: 32px;}
	.btn-primary{font-size: 16px;}
	.btn-secondary{font-size: 16px;}
	.promo__block{margin-bottom: 20px;}
	.promo__subtitle{font-size: 22px;}
	.table-elements__title{font-size: 32px; margin-bottom: 20px;}
	.title{font-size: 32px;}
	.page-content h2{font-size: 26px;}
	.search-form button{padding: 14px 18px;}
	.background-image{top: 102px;}
	.about{padding-top: 122px;}
	.about__title{padding-bottom: 20px;}
	.about__text{padding-top: 20px;}
	.footer__address, .footer__email{text-align: left;}
	.footer__address svg{position: absolute;}
	.search-form span{display: none;}
	.catalog-info .catalog-title{font-size: 20px;}
	.catalog-info { height: 128px; }
	.catalog__list{margin-bottom: 20px;}
	.leter{margin: 5px;}
	.leter-row{justify-content: flex-start;}
	.offer-card__inner{flex-direction: column;}
	.offer-card__img{padding-right: 0; margin: auto;}
	.offer-card__name.title{font-size: 22px;}
	.offer-card__more{margin: 5px 0;}
	.table-detail{font-size: 14px;}
	.table-detail__head{align-items: flex-end;}
	.pictogram-card__wrap{display: block;}
	.pictogram-card__img{text-align: center; margin-bottom: 10px;}
	.page-content .title--second{font-size: 18px;}
	.pictogram-card{padding: 20px}
	.pictogram-card__usage li, .pictogram-card__examples li{margin-bottom: 5px;}
	.pictogram-card__img img{width: 100px; height: 100px;}
	.link-decor__item{font-size: 16px}
	.contacts-title { line-height: 1.2;}
	.personal-card__wrap{flex-wrap: wrap;}
	.personal-card__preview{margin: auto;}
	.personal-card__content{margin-top: 20px;}
	.danger-item{flex-wrap: wrap;}
	.basket__place--btn,.basket__submit { width:100% }
	.form__heading{flex-direction: column;}
	.form__place{width: 100%;}
	.additionally-list__inner{flex-direction: column;}
	.additionally-list__item{width: 100%; margin-bottom: 20px;}
	.product-item__preview{flex-direction: column;}
	.product-item__column{width: auto; padding: 6px 10px 3px;}
	.product-item__preview{padding-right: 0;}
	.card-details__property, .card-details__item{flex-wrap: wrap;}
	.card-details__property::before, .card-details__item::before{display: none;}
	.card-details__property .card-details__text, .card-details__list .card-details__text{width: 100%;}
	.pictograms-list__item .pictogram-info{width: 100%; bottom: -200px;}
	.pictograms-list__item .pictogram-info .pictogram-info-row{flex-direction: column; text-align: center;}
	.pictogram-info-text{padding-left: 0; }
	.pictogram-info-img{margin: auto;}
	.card-details__links .card-details__link{margin-bottom: 5px;}
	.header__search { margin-right: 25px; }
}